node_modules
dist
coverage

.idea
.vscode
test-output*.txt
test-browser-output.txt
test-node-output.txt
browser-jest-results.json
full-browser-output.txt
run-browser-tests.ps1
jest-output.txt
csapi-test-results.txt
phase-8.patch
